In [2]:
import pandas as pd
df = pd.DataFrame(columns = ['Name','Age','Percentage'])
df.loc[1] = ['Raj ',25 ,67]
df.loc[2] = ['Sachin ',19 ,87]
df.loc[3] = ['Prathamesh ',None ,55]
df.loc[4] = ['Sagar ',18,65]
df.loc[5] = ['Swarup ', 20,95]
df.loc[6] = [None,25 ,67]
df.loc[7] = ['Sachin ',19,87]
df.loc[8] = ['Shreyas',None,17]
df.loc[9] = ['God ',17,65]
df.loc[10] = ['Swarup ',None,95]
df.loc[11] = ['Raj ',25 ,67]
df.loc[12] = ['Swarup ', 20,95]
df.insert(len(df.columns),'Remarks',None)
df.drop(columns='Remarks',inplace=True)
df.drop_duplicates(inplace=True)
df

           Name   Age Percentage
1          Raj     25         67
2       Sachin     19         87
3   Prathamesh   None         55
4        Sagar     18         65
5       Swarup     20         95
6           NaN  25.0       67.0
8       Shreyas  None         17
9          God     17         65
10      Swarup   None         95